<div class="ch-config-inicial-layout__topbar">
  <div class="ch-config-inicial-layout__brand">
    <img
      class="ch-config-inicial-layout__logo"
      src="images/logos/isotipo-mono-white.svg"
      alt=""
      aria-hidden="true"
    />
    <span class="ch-config-inicial-layout__brand-name">
      <span class="ch-config-inicial-layout__brand-carbon">Carbon</span
      ><span class="ch-config-inicial-layout__brand-hub">Hub</span>
    </span>
  </div>
  <span class="ch-config-inicial-layout__divider" aria-hidden="true"></span>
  <span class="ch-config-inicial-layout__step">Configuración inicial</span>
</div>

<div class="ch-config-inicial-layout__body">
  <div class="ch-config-inicial-layout__card">
    <span class="ch-config-inicial-layout__badge">
      <app-icon [name]="rolIcon()" [size]="16" />
      {{ rolLabel() }}
    </span>
    <ng-content />
  </div>
</div>
