<div class="ch-state-header__brand">
  <img
    src="/images/logos/isotipo-mono-green.svg"
    alt=""
    aria-hidden="true"
    class="ch-state-header__logo-icon"
  />
  <span class="ch-state-header__logo-text">
    <span class="ch-state-header__logo-carbon">Carbon</span
    ><span class="ch-state-header__logo-hub">Hub</span>
  </span>
</div>

<div class="ch-state-header__actions">
  <span class="ch-state-header__help">
    <app-icon name="help" [size]="13" />
    Ayuda
  </span>
  <a appLink routerLink="/login" class="ch-state-header__login">
    <app-icon name="login" [size]="11" />
    Iniciar sesión
  </a>
</div>
