{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "tabWidth": 2
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    },
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "parser": "typescript",
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
