<div class="ch-modal__backdrop" role="presentation" (click)="cerrar()">
  <div
    #dialog
    class="ch-modal ch-modal--{{ size() }}"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="labelledBy() ?? null"
    [attr.aria-label]="labelledBy() ? null : label()"
    tabindex="-1"
    (click)="$event.stopPropagation()"
    (keydown)="onKeydown($event)"
  >
    <button type="button" class="ch-modal__close" aria-label="Cerrar" (click)="cerrar()">
      <app-icon name="cerrar" [size]="16" />
    </button>
    <ng-content />
  </div>
</div>
