<section class="section white" id="funcionalidades">
  <div class="wrap">
    <div class="sec-head">
      <span class="sec-eyebrow">Funcionalidades</span>
      <h2 class="sec-title">Todo lo que necesitás, en un solo lugar</h2>
      <div class="sec-lead">
        Las herramientas centrales de CarbonHub para gestionar, certificar y mostrar tu compromiso
        ambiental.
      </div>
    </div>
    <div class="feat-grid">
      <div class="feat hero-feat">
        <div class="feat-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M120-120v-80l80-80v160h-80Zm160 0v-240l80-80v320h-80Zm160 0v-320l80 81v239h-80Zm160 0v-239l80-80v319h-80Zm160 0v-400l80-80v480h-80ZM120-327v-113l280-280 160 160 280-280v113L560-447 400-607 120-327Z"
              /></svg
          ></span>
        </div>
        <div class="feat-t">Dashboard de huella de carbono</div>
        <div class="feat-d">
          Registrá tus emisiones por categoría y seguí tu huella total con gráficos claros y
          comparables en el tiempo, para tomar decisiones de reducción con datos reales.
        </div>
      </div>
      <div class="feat span3">
        <div class="feat-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m387-412 35-114-92-74h114l36-112 36 112h114l-93 74 35 114-92-71-93 71ZM240-40v-309q-38-42-59-96t-21-115q0-134 93-227t227-93q134 0 227 93t93 227q0 61-21 115t-59 96v309l-240-80-240 80Zm410-350q70-70 70-170t-70-170q-70-70-170-70t-170 70q-70 70-70 170t70 170q70 70 170 70t170-70Z"
              /></svg
          ></span>
        </div>
        <div class="feat-t">
          Certificaciones digitales <span class="feat-chip">OpenBadges 3.0</span>
        </div>
        <div class="feat-d">
          Al aprobarse tu auditoría recibís certificaciones e insignias verificables como
          credenciales abiertas, comprobables por cualquiera de forma independiente.
        </div>
      </div>
      <div class="feat span2">
        <div class="feat-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M324-111.5Q251-143 197-197t-85.5-127Q80-397 80-480t31.5-156Q143-709 197-763t127-85.5Q397-880 480-880t156 31.5Q709-817 763-763t85.5 127Q880-563 880-480t-31.5 156Q817-251 763-197t-127 85.5Q563-80 480-80t-156-31.5ZM440-162v-78q-33 0-56.5-23.5T360-320v-40L168-552q-3 18-5.5 36t-2.5 36q0 121 79.5 212T440-162Zm276-102q41-45 62.5-100.5T800-480q0-98-54.5-179T600-776v16q0 33-23.5 56.5T520-680h-80v80q0 17-11.5 28.5T400-560h-80v80h240q17 0 28.5 11.5T600-440v120h40q26 0 47 15.5t29 40.5Z"
              /></svg
          ></span>
        </div>
        <div class="feat-t">Perfil público de reputación</div>
        <div class="feat-d">
          Un perfil con tu nivel ecológico Bronce, Plata, Oro o Platino, historial e insignias,
          visible para cualquier visitante.
        </div>
      </div>
      <div class="feat span2">
        <div class="feat-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M622-144 484-282l56-56 82 82 202-202 56 56-258 258ZM287-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47Zm227 99L368-282l122 122H80v-112q0-33 17-62t47-44q51-26 115-44t141-18q30 0 58.5 3t55.5 9Z"
              /></svg
          ></span>
        </div>
        <div class="feat-t">Directorio de auditores</div>
        <div class="feat-d">
          Encontrá auditores certificados por especialidad, con métricas de reputación y reseñas
          verificadas de empresas.
        </div>
      </div>
      <div class="feat span2">
        <div class="feat-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m280-40 123-622q6-29 27-43.5t44-14.5q23 0 42.5 10t31.5 30l40 64q18 29 46.5 52.5T700-529v-71h60v560h-60v-406q-48-11-89-35t-71-59l-24 120 84 80v300h-80v-240l-84-80-72 320h-84Zm17-395-85-16q-16-3-25-16.5t-6-30.5l30-157q6-32 34-50.5t60-12.5l46 9-54 274Zm186.5-328.5Q460-787 460-820t23.5-56.5Q507-900 540-900t56.5 23.5Q620-853 620-820t-23.5 56.5Q573-740 540-740t-56.5-23.5Z"
              /></svg
          ></span>
        </div>
        <div class="feat-t">Módulo EcoRuta</div>
        <div class="feat-d">
          Turismo sostenible: planificá itinerarios de bajo impacto con EcoScore y ganá insignias
          por tus logros ecológicos.
        </div>
      </div>
    </div>
  </div>
</section>
