<section class="section light" id="para-quien">
  <div class="wrap">
    <div class="sec-head">
      <span class="sec-eyebrow">Para quién es</span>
      <h2 class="sec-title">Una plataforma, varias formas de usarla</h2>
      <div class="sec-lead">
        CarbonHub conecta a quienes generan huella, a quienes la certifican y a quienes viajan de
        forma responsable.
      </div>
    </div>
    <div class="who-grid">
      <div class="who g">
        <div class="who-top"></div>
        <div class="who-ic wi-green">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M80-80v-481l280-119v80l200-80v120h320v480H80Zm360-160h80v-160h-80v160Zm-160 0h80v-160h-80v160Zm320 0h80v-160h-80v160Zm272-380H687l34-260h119l32 260Z"
              /></svg
          ></span>
        </div>
        <div class="who-tag">Rol central</div>
        <div class="who-name">Empresas</div>
        <div class="who-desc">
          Miden, reducen y certifican su huella de carbono con respaldo profesional.
        </div>
        <div class="who-list">
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Registran emisiones de electricidad, flota, vuelos y envíos
          </div>
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Visualizan su huella en dashboards y gráficos
          </div>
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Obtienen certificaciones e insignias verificables
          </div>
        </div>
      </div>
      <div class="who s">
        <div class="who-top"></div>
        <div class="who-ic wi-sky">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M622-144 484-282l56-56 82 82 202-202 56 56-258 258ZM287-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47Zm227 99L368-282l122 122H80v-112q0-33 17-62t47-44q51-26 115-44t141-18q30 0 58.5 3t55.5 9Z"
              /></svg
          ></span>
        </div>
        <div class="who-tag">Profesionales validados</div>
        <div class="who-name">Auditores certificados</div>
        <div class="who-desc">
          Validan las emisiones de las empresas y construyen su reputación profesional.
        </div>
        <div class="who-list">
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Reciben y gestionan solicitudes de auditoría
          </div>
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Emiten resultados y cargan sus reportes
          </div>
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Aparecen en un directorio público con reseñas
          </div>
        </div>
      </div>
      <div class="who a">
        <div class="who-top"></div>
        <div class="who-ic wi-amber">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m280-40 123-622q6-29 27-43.5t44-14.5q23 0 42.5 10t31.5 30l40 64q18 29 46.5 52.5T700-529v-71h60v560h-60v-406q-48-11-89-35t-71-59l-24 120 84 80v300h-80v-240l-84-80-72 320h-84Zm17-395-85-16q-16-3-25-16.5t-6-30.5l30-157q6-32 34-50.5t60-12.5l46 9-54 274Zm186.5-328.5Q460-787 460-820t23.5-56.5Q507-900 540-900t56.5 23.5Q620-853 620-820t-23.5 56.5Q573-740 540-740t-56.5-23.5Z"
              /></svg
          ></span>
        </div>
        <div class="who-tag">Módulo EcoRuta</div>
        <div class="who-name">Viajeros sostenibles</div>
        <div class="who-desc">
          Planifican itinerarios de bajo impacto ambiental y ganan reconocimientos.
        </div>
        <div class="who-list">
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Generan itinerarios con asistente y EcoScore
          </div>
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Eligen establecimientos de bajo impacto
          </div>
          <div class="who-li">
            <span class="landing-icon" aria-hidden="true"
              ><svg
                viewBox="0 -960 960 960"
                width="1em"
                height="1em"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                /></svg></span
            >Ganan insignias por sus logros ecológicos
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
