<section class="section dark" id="como-funciona">
  <div class="wrap">
    <div class="sec-head">
      <span class="sec-eyebrow on-dark">Cómo funciona</span>
      <h2 class="sec-title on-dark">De tus emisiones a tu perfil público</h2>
      <div class="sec-lead on-dark">
        El camino que recorre una empresa en CarbonHub, en cuatro pasos.
      </div>
    </div>
    <div class="steps">
      <div class="step">
        <div class="step-num-big">01</div>
        <div class="step-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M640-160v-280h160v280H640Zm-240 0v-640h160v640H400Zm-240 0v-440h160v440H160Z"
              /></svg
          ></span>
        </div>
        <div class="step-k">Paso 1</div>
        <div class="step-t">Registrar emisiones</div>
        <div class="step-d">Cargá tu consumo de electricidad, flota, vuelos y envíos de carga.</div>
        <div class="step-arrow">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" /></svg
          ></span>
        </div>
      </div>
      <div class="step">
        <div class="step-num-big">02</div>
        <div class="step-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M120-120v-80l80-80v160h-80Zm160 0v-240l80-80v320h-80Zm160 0v-320l80 81v239h-80Zm160 0v-239l80-80v319h-80Zm160 0v-400l80-80v480h-80ZM120-327v-113l280-280 160 160 280-280v113L560-447 400-607 120-327Z"
              /></svg
          ></span>
        </div>
        <div class="step-k">Paso 2</div>
        <div class="step-t">Ver tu huella</div>
        <div class="step-d">Visualizá tu huella en dashboards y gráficos por categoría.</div>
        <div class="step-arrow">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" /></svg
          ></span>
        </div>
      </div>
      <div class="step">
        <div class="step-num-big">03</div>
        <div class="step-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M160-120q-33 0-56.5-23.5T80-200v-560q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v560q0 33-23.5 56.5T800-120H160Zm40-160h200v-80H200v80Zm382-80 198-198-57-57-141 142-57-57-56 57 113 113Zm-382-80h200v-80H200v80Zm0-160h200v-80H200v80Z"
              /></svg
          ></span>
        </div>
        <div class="step-k">Paso 3</div>
        <div class="step-t">Solicitar auditoría</div>
        <div class="step-d">Elegí un auditor certificado del directorio y enviá tu solicitud.</div>
        <div class="step-arrow">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" /></svg
          ></span>
        </div>
      </div>
      <div class="step">
        <div class="step-num-big">04</div>
        <div class="step-ic">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m387-412 35-114-92-74h114l36-112 36 112h114l-93 74 35 114-92-71-93 71ZM240-40v-309q-38-42-59-96t-21-115q0-134 93-227t227-93q134 0 227 93t93 227q0 61-21 115t-59 96v309l-240-80-240 80Zm410-350q70-70 70-170t-70-170q-70-70-170-70t-170 70q-70 70-70 170t70 170q70 70 170 70t170-70Z"
              /></svg
          ></span>
        </div>
        <div class="step-k">Paso 4</div>
        <div class="step-t">Certificación y perfil</div>
        <div class="step-d">
          Recibí tus certificaciones e insignias y publicá tu perfil público.
        </div>
      </div>
    </div>
  </div>
</section>
