<section class="cta-final">
  <div class="wrap">
    <div class="cta-inner">
      <span class="cta-badge">
        <span class="landing-icon" aria-hidden="true"
          ><svg
            viewBox="0 -960 960 960"
            width="1em"
            height="1em"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450-80q-33 0-66.5-7.5T315-109q12-121 70-226t149-185q-110 56-190.5 148T231-162q-4-3-7.5-6.5L216-176q-47-47-71.5-105T120-402q0-68 27-130t75-110q81-81 210-105.5t362-4.5q18 239-6 364.5T684-182q-49 49-109.5 75.5T450-80Z"
            /></svg></span
        >Empezá hoy
      </span>
      <h2>Certificá la huella de tu empresa</h2>
      <p>
        Registrá tu empresa en CarbonHub y comenzá a medir, reducir y certificar tu impacto
        ambiental con respaldo profesional.
      </p>
      <div class="cta-btns">
        <a class="btn btn-white" routerLink="/registro/empresa">
          <app-icon class="landing-icon" name="empresa" [size]="19" />Registrar mi empresa
        </a>
        <a class="btn btn-ghost-w" routerLink="/empresas-verificadas">
          <span class="landing-icon" aria-hidden="true"
            ><svg
              viewBox="0 -960 960 960"
              width="1em"
              height="1em"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M324-111.5Q251-143 197-197t-85.5-127Q80-397 80-480t31.5-156Q143-709 197-763t127-85.5Q397-880 480-880t156 31.5Q709-817 763-763t85.5 127Q880-563 880-480t-31.5 156Q817-251 763-197t-127 85.5Q563-80 480-80t-156-31.5ZM440-162v-78q-33 0-56.5-23.5T360-320v-40L168-552q-3 18-5.5 36t-2.5 36q0 121 79.5 212T440-162Zm276-102q41-45 62.5-100.5T800-480q0-98-54.5-179T600-776v16q0 33-23.5 56.5T520-680h-80v80q0 17-11.5 28.5T400-560h-80v80h240q17 0 28.5 11.5T600-440v120h40q26 0 47 15.5t29 40.5Z"
              /></svg></span
          >Ver una empresa verificada
        </a>
      </div>
      <div class="cta-note">
        <span class="landing-icon" aria-hidden="true"
          ><svg
            viewBox="0 -960 960 960"
            width="1em"
            height="1em"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m344-60-76-128-144-32 14-148-98-112 98-112-14-148 144-32 76-128 136 58 136-58 76 128 144 32-14 148 98 112-98 112 14 148-144 32-76 128-136-58-136 58Zm94-278 226-226-56-58-170 170-86-84-56 56 142 142Z"
            /></svg></span
        >Sin costo para crear tu cuenta y empezar a registrar emisiones
      </div>
    </div>
  </div>
</section>
